.crew{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:0;
    position: relative;
    background-image: url('../../assets/crew/background-crew-desktop.jpg');
    width: 100vw;
    height: 100vh;
    background-position: center center;
    background-size: cover;

}

.title-crew{
    position: absolute;
    top: 25%;
    left: 18%;
    max-width: 1200px;
    margin: 0 auto;
    color: white;

}

.title-crew h2{
    font-weight: lighter;
    font-size: 22px;
}

.title-crew span{
    color: gray;
    font-weight: bold;
}

.infoCrew{
    color: white;
    max-width: 1200px;
    margin: 0 auto;
}

.info1-crew{
    align-self: flex-start;
    position: absolute;
    left: 18%;
    top: 35%;
    width: 450px;
    margin-top: 30px;

}

.info1-crew h1{
    font-weight: lighter;
    font-size: 40px;
    margin: 0;
}

.info1-crew h2{
    font-weight: lighter;
    margin: 10px 0;
    color: gray;
}

.info1-crew p{
    font-size: 18px;
    color: rgb(216, 216, 216);
}

.buttonsContainer{
    position: absolute;
    left: 18%;
    bottom: 20%;
    display: flex;
    gap: 25px;
}

.buttonCrewSub{
    width: 16px;
    height: 16px;
    border-radius: 25px;
    border: none;
    padding: 2px;
    cursor: pointer;

}

.buttonCrew{
    width: 16px;
    height: 16px;
    border-radius: 25px;
    border: none;
    padding: 2px;
    background-color: rgba(255, 255, 255, 0.281);
    cursor: pointer;
}

.img-crew{
    position: absolute;
    bottom: 0;
    right: 18%;
}
.img-crew img{
    width: 333px;
    display: block;

}

@media(min-width: 1450px){
    .title-crew h2{
        font-size: 30px;
    }

    .img-crew img{
        width: 430px;
    }

    .info1-crew p{
        font-size: 29px;
    }
    .info1-crew h1{
        font-size: 50px;
    }
}

@media(max-width: 1250px){
    .title-crew{
        left: 12%;
    }
    .info1-crew{
        left: 12%;
    }

    .img-crew{
        right: 12%;
    }

    .buttonsContainer{
        left: 12%;
        bottom: 10%;
    }
    .img-crew img{
        width: 270px;
    }
}

@media(max-width: 1050px){
    .title-crew{
        left: 7%;
    }
    .info1-crew{
        left: 7%;
    }

    .img-crew{
        right: 7%;
    }
    .img-crew img{
        width: 275px;
    }
    .info1-crew{
        width: 420px;
    }
    .buttonsContainer{
        left: 7%;
        bottom: 8%;
    }
}


@media(max-width: 850px){
    .crew{
        background-image: url('../../assets/crew/background-crew-tablet.jpg');
        justify-content: space-between;
    }

    .title-crew{
        position: absolute;
        top: 13%;
        left: 50%;
        transform: translateX(-50%);
        width: 270px;
        text-align: center;

    }

    .info1-crew{
        position: absolute;
        top:15.5%;
        width: 530px;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
    }
    .info1-crew h1{
        font-size: 20px;
    }

    .info1-crew h2{
        font-size: 13px;
        margin: 10px 0 5px 0;
    }

    .info1-crew p{
        margin-bottom: 0;
        font-size: 20px
    }

    .buttonsContainer{
        position: absolute;
        width: 50%;
        left: 50%;
        top: 45%;
        transform: translateX(-50%);
        justify-content: center;
    }
    .img-crew{
        position:absolute;
        right: 50%;
        transform: translateX(50%);
    }
    .img-crew img{
        width: 220px;
    }
}


@media(max-width: 550px){
    .crew{
        background-image: url('../../assets/crew/background-crew-mobile.jpg');

    }
    
    .info1-crew{
        width: 320px;

    }

    .buttonsContainer{
        top: 54%;
    }

    .img-crew img{
            width: 195px;

    }
}

@media(min-width: 1850px){
    .title-crew{
        left:  20%;
    }

    .info1-crew{
        left:20%;
        width: 550px;
    }

    .buttonsContainer{
        left: 20%;
    }

    .img-crew{
        right: 20%;
        
    }

    .img-crew img{
        width: 500px;
    }


}

